.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
    box-shadow: $box-shadow;
    &-logo{
        font-weight: $font-weight-b;
        font-size: 1.5em;
    }
    &-toggle{
        font-weight: $font-weight-m;
        cursor: pointer;
    }
}

@media screen and(max-width: 500px) {
    .navbar{
        &-logo{
            font-size: 1em;
        }
    }
}