$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$border-radius: .3em;
$white: #FFFFFF;
$gray-light:hsl(0, 0%, 52%);


$light-mode-text: hsl(200, 15%, 8%);
$light-mode-elements: hsl(0, 0%, 100%);
$light-mode-bg: hsl(0, 0%, 98%);

$dark-mode-text: hsl(0, 0%, 100%);
$dark-mode-elements: hsl(209, 23%, 22%);
$dark-mode-bg:hsl(207, 26%, 17%);

